{% extends 'dibujo/base.html' %}

{% block titulo %}

    Creando una Lámina...

{% endblock %}

{% block contenido %}
    
    <a href="{% url 'listadoDibujos' %}" role="button">Cancelar</a>
    <p></p>

    <article style="margin-right: 0px">
        <form method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form.as_p }}
            
            </article>
            <button type="submit" class="botonAñadir"> <b><i>Crear Lámina</i></b> </button>
        </form>

{% endblock %}
