{% extends 'dibujo/base.html' %}

{% block titulo %}

    Confirmando Compra...
    
{% endblock %}

{% block contenido %}

<a type="" href="{% url 'ver_carrito' %}" class="botonVolverAlMenu"><button>Cancelar</button></a>

    <article>

        <p>Por favor, revisa tu pedido antes de confirmar la compra.</p>

        <table>
            <thead>
            <tr>
                <th>Nombre de la Lámina</th>
                <th>Autor</th>
                <th>Precio</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.dibujo.nombre }}</td>
                <td>{{ item.dibujo.autor.username }}</td>
                <td>{{ item.dibujo.precio.precio }} €</td>
                <td>{{ item.cantidad }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <h3>Total: {{ total_precio }} €</h3>

    </article>

    <form method="post" action="{% url 'procesar_compra' %}">
        {% csrf_token %}
        <button type="submit" class="botonCarrito"> <b><i>Confirmar Compra</i></b> </button>
    </form>

{% endblock %}
