{% extends 'dibujo/base.html' %}

{% block titulo %}

    Confirmando Compra...
    
{% endblock %}

{% block contenido %}

    <a href="{% url 'ver_carrito' %}" role="button" class="botonVolverAlMenu">Cancelar</a>

    <div class="container">
        <h3 class="text-danger">Por favor, REVISA tu Pedido antes de "Confirmar la Compra".</h3>
        <h5 class="text-warning">Esta acción es PERMANENTE y no tiene vuelta atrás.</h5>

        <div class="table-responsive">
            <table class="table table-bordered table-striped custom-bg">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Autor</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ item.dibujo.nombre }}</td>
                            <td>{{ item.dibujo.autor.username }}</td>
                            <td>{{ item.dibujo.precio.precio }}€</td>
                            <td>{{ item.cantidad }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h3>Total: {{ total_precio }}€</h3>
    </div>

    <form method="post" action="{% url 'procesar_compra' %}">
        {% csrf_token %}
        <button type="submit" class="botonCarrito"> <b><i>Confirmar Compra</i></b> </button>
    </form>

{% endblock %}
