{% extends 'dibujo/base.html' %}

{% block titulo %}

    Perfil de {{ user.first_name }}

{% endblock %}

{% block contenido %}
    <a href="{% url 'listadoDibujos' %}" role="button" class="botonVolverAlMenu mb-3">Volver a la Tienda</a>
    <a href="{% url 'añadirDibujos' %}" class="botonAñadir mb-3" role="button">Añadir Lámina</a>
    <a href="{% url 'ver_carrito' %}" role="button" class="botonCarrito mb-3">Ver Carrito</a>

    <article class="mb-4">
        <p><b>Usuario:</b> @{{ user.username }}</p>
        <p><b>Nombre:</b> {{ user.first_name }}</p>
        <p><b>Email:</b> {{ user.email }}</p>
    </article>

    <p>
        {% if request.user.is_authenticated and request.user.is_staff %}
            <a href="https://tienda-de-laminas.onrender.com/admin/" role="button" class="botonNoStock" target="_blank" rel="noopener noreferrer"> 
                <b><i>Administración Django</i></b>
            </a>
        {% endif %}

        <a href="{% url 'editarUsuario' %}" role="button" class="botonEditar mb-3"> <b><i>Editar Perfil</b></i> </a>
        <a href="{% url 'logout' %}" role="button" class="botonBorrar mb-3"> <b><i>Cerrar Sesión</b></i> </a>
    </p>
    
    <h2 class="text-center mb-4">Láminas de {{ user.username }}:</h2>
    <div class="container">
        <div class="row g-4">
            {% for dibujo in dibujos %}
                <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                    <div class="card shadow-sm h-100 custom-bg">
                        <a href="{% url 'detallesDibujos' pk=dibujo.pk %}">
                            <img src="{{ dibujo.imagen.url }}" class="imagenResaltada card-img-top img-fluid" alt="{{ dibujo.nombre }}">
                        </a>
                        <div class="card-body text-center">
                            <h5>{{ dibujo.nombre }}</h5>
                            {% if dibujo.stock == 0 %}
                                <p class="text-danger"><b>AGOTADO</b></p>
                            {% else %}
                                <p>{{ dibujo.precio }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No se encontraron láminas disponibles.</p>
            {% endfor %}
        </div>
    </div>

    <br>

    <h2 class="text-center mb-4">Me Gusta de {{ user.username }}:</h2>
    <div class="container">
        <div class="row g-4">
            {% for dibujo in me_gustas %}
                <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
                    <div class="card shadow-sm h-100 custom-bg">
                        <a href="{% url 'detallesDibujos' pk=dibujo.pk %}">
                            <img src="{{ dibujo.imagen.url }}" class="imagenResaltada card-img-top img-fluid" alt="{{ dibujo.nombre }}">
                        </a>
                        <div class="card-body text-center">
                            <h5>{{ dibujo.nombre }}</h5>
                            {% if dibujo.stock == 0 %}
                                <p class="text-danger"><b>AGOTADO</b></p>
                            {% else %}
                                <p>{{ dibujo.precio }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No has marcado ninguna lámina como "Me Gusta".</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
