{% extends 'dibujo/base.html' %}

{% block titulo %}

    Perfil de {{ user.first_name }}

{% endblock %}

{% block contenido %}
    <a href="{% url 'listadoDibujos' %}" role="button" class="botonVolverAlMenu">Volver a la Tienda</a>
    <a href="{% url 'añadirDibujos' %}" class="botonAñadir" role="button">Añadir Lámina</a>
    <a href="{% url 'ver_carrito' %}" role="button" class="botonCarrito">Ver Carrito</a>

    <article style="margin-right: 0px">
        <p><b>Usuario:</b> @{{ user.username }}</p>
        <p><b>Nombre:</b> {{ user.first_name }}</p>
        <p><b>Email:</b> {{ user.email }}</p>
    </article>

    <p>
        <a href="{% url 'editarUsuario' %}" role="button" class="botonEditar"> <b><i>Editar Perfil</b></i> </a>
        <a href="{% url 'logout' %}" role="button" class="botonBorrar"> <b><i>Cerrar Sesión</b></i> </a>
    </p>
    
    <h2 style="text-align: center">Láminas de {{ user.username }}:</h2>
    <article>
        <div class="dibujo-lista">
            {% for dibujo in dibujos %}
                <div class="dibujo-item">
                    <a href="{% url 'detallesDibujos' pk=dibujo.pk %}">
                        <img src="{{ dibujo.imagen.url }}" class="tamañoImagenUsuario imagenResaltada" alt="{{ dibujo.nombre }}">
                    </a>
                    <br>
                    <h4>{{ dibujo.nombre }}</h4>
                    {% if dibujo.stock == 0 %}
                        <b>AGOTADO</b>
                    {% else %}
                        <p>{{ dibujo.precio }}</p>
                    {% endif %}
                </div>
            {% empty %}
                <p>No se encontraron láminas disponibles.</p>
            {% endfor %}
        </div>
    </article>

    <h2 style="text-align: center">Me Gusta de {{ user.username }}:</h2>
    <article>
        <div class="dibujo-lista">
            {% for dibujo in me_gustas %}
                <div class="dibujo-item">
                    <a href="{% url 'detallesDibujos' pk=dibujo.pk %}">
                        <img src="{{ dibujo.imagen.url }}" class="tamañoImagenUsuario imagenResaltada" alt="{{ dibujo.nombre }}">
                    </a>
                    <br>
                    <h4>{{ dibujo.nombre }}</h4>
                    {% if dibujo.stock == 0 %}
                        <b>AGOTADO</b>
                    {% else %}
                        <p>{{ dibujo.precio }}</p>
                    {% endif %}
                </div>
            {% empty %}
                <p>No has marcado ninguna lámina como "Me Gusta".</p>
            {% endfor %}
        </div>
    </article>
{% endblock %}
