{% extends 'dibujo/base.html' %}
{% load static %}

{% block titulo %}

    Detalles de la Lámina
    
{% endblock %}

{% block contenido %}

    <a href="{% url 'listadoDibujos' %}" role="button" class="botonVolverAlMenu">Volver a la Tienda</a>

    {% if request.user.is_authenticated %}
        <a href="{% url 'detallesUsuario' %}" role="button" class="botonBorrar">Tu Perfil</a>
        <a href="{% url 'añadirDibujos' %}" class="botonAñadir" role="button">Añadir Lámina</a>
        <a href="{% url 'ver_carrito' %}" role="button" class="botonCarrito">Ver Carrito</a>
    {% endif %}

    <article>
        <h2>{{ dibujo.nombre }}</h2>
        <p><img src="{{ dibujo.imagen.url }}" alt="{{ dibujo.nombre }}" style="width: 300px"></p>
        <p><b>Autor:</b> {{ dibujo.autor.username }}</p>
        <p><b>Precio:</b> {{ dibujo.precio }}</p>
        <p><b>Stock disponible:</b> {{ dibujo.stock }}</p>

        <p></p>

        {% if request.user == dibujo.autor %}
            <a href="{% url 'editarDibujos' pk=dibujo.pk %}" class="botonEditar" role="button"> <b><i>Editar</i></b> </a>
            <a href="{% url 'borrarDibujos' pk=dibujo.pk %}" class="botonBorrar" role="button"> <b><i>Eliminar</i></b> </a>
        {% endif %}

        <p></p>

        {% if request.user.is_authenticated and dibujo.stock > 0 %}
            <form method="post" action="{% url 'añadir_al_carrito' dibujo.id %}">
                {% csrf_token %}
                <button type="" class="botonCarrito">
                    <b><i>Añadir al Carrito</i></b>
                </button>
            </form>
        {% elif dibujo.stock == 0 %}
            <button type="" class="botonNoStock">
                <b><i>PRODUCTO AGOTADO TEMPORALMENTE</i></b>
            </button>
        {% endif %}

        <p></p>

        <form method="post" action="{% url 'like-toggle' dibujo.id %}">
            {% csrf_token %}
            <button type="submit" class="botonMGSinClase">
                {% if user.is_authenticated and dibujo.id in user_likes %}
                    <p style="width: 4.5%;">
                        <img src="{% static 'img/me_gusta.png' %}" alt="Me Gusta" class="img-fluid" style="width: 24px;">
                    </p>
                {% else %} 
                    <p style="width: 4.5%;">
                        <img src="{% static 'img/no_me_gusta.png' %}" alt="No me Gusta" class="img-fluid" style="width: 24px;">
                    </p>
                {% endif %}
            </button>
            <p class="mt-2 text-muted">{{ dibujo.like_set.count }} Me Gusta</p>           
        </form>

    </article>
{% endblock %}
