{% extends 'dibujo/base.html' %}
{% load static %}

{% block titulo %}
    Detalles de la Lámina
{% endblock %}

{% block contenido %}

    <a href="{% url 'listadoDibujos' %}" role="button">Volver al Menú Principal</a>

    {% if request.user.is_authenticated %}
        <a href="{% url 'detallesUsuario' %}" role="button" class="botonBorrar">Tu Perfil</a>
    {% else %}
        <a href="{% url 'login' %}" role="button" class="botonInicioSesion">Iniciar Sesión</a>
        <a href="{% url 'register' %}" role="button" class="botonRegistro">Registrarse</a>
    {% endif %}

    <article style="margin-right: 0px">    
        <h2> LÁMINA DE {{ dibujo.nombre }} </h2>
        <img src="{{ dibujo.imagen.url }}" class="tamañoImagenListado" alt="{{ dibujo.nombre }}">
        <p>
        <p> <b>Genero:</b> {{ dibujo.genero }} </p>
        <p> <b>Stock:</b> {{ dibujo.stock }} uds </p>
        <p> <b>Precio:</b> {{ dibujo.precio }} </p>
        <p> <b>Autor:</b> <a href="{% url 'detallesUsuario' %}">{{ dibujo.autor.username }}</a> </p>
        <p></p>
        {% if request.user == dibujo.autor %}
        <a href="{% url 'editarDibujos' pk=dibujo.pk %}" class="botonEditar" role="button">Editar</a>
        <a href="{% url 'borrarDibujos' pk=dibujo.pk %}" class="botonBorrar" role="button">Borrar</a>
    {% endif %}

        <form method="post" action="{% url 'like-toggle' dibujo.id %}">
            {% csrf_token %}
            <button type="submit" class="botonMGSinClase">
                {% if user.is_authenticated and dibujo.id in user_likes %}
                    <p style="width: 4.5%;">
                        <img src="{% static 'img/me_gusta.png' %}" alt="Me Gusta" class="tamañoImagenMG">
                    </p>
                {% else %} 
                    <p style="width: 4.5%;">
                        <img src="{% static 'img/no_me_gusta.png' %}" alt="No me Gusta" class="tamañoImagenMG">
                    </p>
                {% endif %}
            </button>
            <p>{{ dibujo.like_set.count }} Me Gusta</p>
        </form>
    </article>
{% endblock %}
