{% extends 'dibujo/base.html' %}

{% block titulo %}

    Editando la Lámina "{{ dibujo.nombre }}"...

{% endblock %}

{% block contenido %}

    <a href="{% url 'detallesDibujos' pk=dibujo.pk %}" role="button">Cancelar</a>
    <p></p>
    
    <article>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
    </article>
    
            <button type="submit" class="botonEditar"> <b><i>Guardar Cambios</i></b> </button>
        </form>

{% endblock %}
