¡Hola {{ autor.username }}!
Un Usuario quiere comprar alguna de tus Láminas. 
Aquí están los "Detalles del Pedido":

# DETALLES DEL PEDIDO #

1. Información del Comprador:
    - Usuario: {{ comprador.username }}
    - Nombre completo: {{ comprador.first_name }}
    - Email: {{ comprador.email }}

2. Láminas Solicitadas: {% for item in items %}
    - Nombre: {{ item.dibujo.nombre }}
    - Cantidad: {{ item.cantidad }}
    - Precio: {{ item.dibujo.precio.precio }}€ 
    {% endfor %}
¡Saludos! Atentamente,
el Equipo de la Tienda de Láminas.